DB_URL=jdbc:postgresql://localhost:5435/n11ecommercedb
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_SECRET=your-super-secret-key-min-32-characters
JWT_ACCESS_TOKEN_VALIDITY=900000
JWT_REFRESH_TOKEN_VALIDITY=604800000
